@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(151, 71, 255);
  --background-color-light: white;
  --text-color-light: black;
  --footer-background-color-light: #fafafb;
  --tab-selected-color-light: #f3f3f4;
  --divider-color-light: rgb(235 234 234);
  --form-background-color-light: #f2f4f5;
  --text-grey-color-light: rgb(86, 86, 86);

  --background-color-dark: black;
  --text-color-dark: white;
  --footer-background-color-dark: #0d0d0d;
  --tab-selected-color-dark: #161616;
  --divider-color-dark: #1e1e1e;
  --form-background-color-dark: #1c1c1c;
  --text-grey-color-dark: rgb(156 163 175);
}

html.dark {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --footer-background-color: var(--footer-background-color-dark);
  --tab-selected-color: var(--tab-selected-color-dark);
  --divider-color: var(--divider-color-dark);
  --form-background-color: var(--form-background-color-dark);
  --text-grey-color: var(--text-grey-color-dark);
}

html.light {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --footer-background-color: var(--footer-background-color-light);
  --tab-selected-color: var(--tab-selected-color-light);
  --divider-color: var(--divider-color-light);
  --form-background-color: var(--form-background-color-light);
  --text-grey-color: var(--text-grey-color-light);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex justify-start items-center;
}

.paddings {
  @apply lg:px-20 py-4 px-5;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

.modal-head-text {
  @apply md:text-5xl text-3xl font-extrabold text-left max-w-5xl w-full;
}

.no-result-text {
  @apply w-full text-center my-10 px-2;
}

/* Project Details */
.user-actions_section {
  @apply fixed max-md:hidden flex gap-4 flex-col right-10 top-20;
}

.user-info {
  @apply flex flex-wrap whitespace-nowrap text-sm font-normal gap-2 w-full;
}

/* Home */
.projects-grid {
  @apply grid xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-10 mt-10 w-full sm:w-auto mx-auto;
}

/* Project Actions */
.edit-action_btn {
  @apply p-3 text-gray-100 rounded-lg text-sm font-medium;
  color: var(--text-color);
  background-color: var(--divider-color);
}

.delete-action_btn {
  @apply p-3 text-gray-100 hover:bg-red-600 rounded-lg text-sm font-medium;
}

/* Related Project Card */
.related_project-card {
  @apply flex-col rounded-2xl min-w-[210px] min-h-[197px];
}

.related_project-card_title {
  @apply justify-end items-end w-full h-1/3 bg-gradient-to-b 
  from-transparent to-black/50 rounded-b-2xl gap-2 absolute 
  bottom-0 right-0 font-semibold text-lg text-white p-4;
}

.related_projects-grid {
  @apply grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-8 mt-5;
}

/* Custom Menu */
.custom_menu-btn {
  @apply gap-4 w-full rounded-md p-4 text-base outline-none capitalize;
  background-color: var(--form-background-color);
}

.custom_menu-items {
  @apply flex-col absolute left-0 mt-2 xs:min-w-[300px] w-fit max-h-64 origin-top-right 
  rounded-xl border border-nav-border shadow-menu overflow-y-auto;
  background-color: var(--background-color);
}

.custom_menu-item {
  @apply text-left w-full px-5 py-2 text-sm self-start whitespace-nowrap capitalize;
}

.custom_menu-item:hover {
  background-color: var(--form-background-color);
}

/* Footer */
.footer {
  @apply flex-col paddings w-full gap-20;
  background-color: var(--footer-background-color);
}

.footer_copyright {
  @apply max-sm:flex-col w-full text-sm font-normal;
}

.footer_column {
  @apply flex-1 flex flex-col gap-3 text-sm min-w-max;
}

/* Form Field */
.form_field-input {
  @apply w-full outline-0 rounded-xl p-4;
  background-color: var(--form-background-color);
}

/* Modal */
.modal {
  @apply fixed z-10 left-0 right-0 top-0 bottom-0 mx-auto bg-black/80;
}

.modal_wrapper {
  @apply flex justify-start items-center flex-col absolute h-[95%] w-full bottom-0 
  rounded-t-3xl lg:px-40 px-8 pt-14 pb-72 overflow-auto;
  background-color: var(--background-color);
}

/* Navbar */
.navbar {
  @apply py-4 sm:py-5 px-5 sm:px-10 border-b gap-4;
  border-color: var(--divider-color);
}

/* Profile Menu */
.profile_menu-items {
  @apply flex-col absolute right-full sm:right-1/2 translate-x-1/2 mt-3 
  p-7 sm:min-w-[300px] min-w-max rounded-xl border shadow-menu;
  border-color: var(--divider-color);
  background-color: var(--background-color);
}

/* Profile Card */
.profile_card-title {
  @apply justify-end items-end w-full h-1/3 bg-gradient-to-b 
  from-transparent to-black/50 rounded-b-2xl gap-2 absolute 
  bottom-0 right-0 font-semibold text-lg text-white p-4;
}

/* Project Form */
.form {
  @apply flex-col w-full lg:pt-24 pt-12 gap-10 text-lg max-w-5xl mx-auto;
}

.form_image-container {
  @apply w-full lg:min-h-[400px] min-h-[200px] relative;
}

.form_image-label {
  @apply z-10 text-center w-full h-full p-20 text-gray-100 border-2 
  border-gray-50 border-dashed;
  border-color: var(--divider-color);
}

.form_image-input {
  @apply absolute z-30 w-full opacity-0 h-full cursor-pointer;
}

/* Toggle Slider */
input[type="checkbox"].toggle {
  opacity: 0;
  position: absolute;
  left: -9000px;
  top: -9000px;
}

input[type="checkbox"].toggle + label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"].toggle + label::before {
  content: "";
  width: 2em;
  height: 1em;
  background-color: hsl(268, 100%, 94%);
  border-radius: 1em;
  transition: background-color 200ms ease-in-out;
}

input[type="checkbox"].toggle + label::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "";
  font-size: 0.5em;
  height: 0.9em;
  left: 0.2em;
  width: 1.8em;
  height: 1.8em;
  background-color: black;
  color: white;
  border-radius: 1em;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked + label::before {
  background-color: hsl(268, 100%, 94%);
}

input[type="checkbox"].toggle:checked + label::after {
  content: "";
  transform: translateX(100%);
  background-color: var(--primary-color);
}

.tab-selected {
  background-color: var(--tab-selected-color);
}

.border-nav-border {
  border-color: var(--divider-color);
}

.font-pacifico {
  font-family: Pacifico;
}

.text-grey-color {
  color: var(--text-grey-color);
}

.primary-color {
  color: var(--primary-color);
}

.button-hover:hover {
  color: var(--text-color);
}

.form-padding {
  @apply sm:px-6 xl:px-24;
}

.purple_gradient {
  @apply bg-gradient-to-r from-purple-500 via-indigo-600 to-blue-500 bg-clip-text text-transparent;
}

.head_text {
  @apply mt-8 text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-extrabold leading-[1.15];
}

.desc {
  @apply mt-5 text-lg sm:text-xl max-w-2xl;
}

.button {
  @apply transition-all text-center text-sm font-bold flex items-center justify-center;
}

.rounded-button {
  @apply button;
  @apply py-2 px-5 rounded-full text-white;
}

.primary-button {
  @apply rounded-button;
  background-color: var(--primary-color);
}

.rounded-navbar-button {
  @apply rounded-full py-2 px-5 text-white transition-all  
  text-center text-sm font-semibold;
  background-color: var(--primary-color);
}

.rounded-icon {
  @apply rounded-full text-white transition-all  
  text-center text-2xl font-semibold flex items-center justify-center;
  background-color: var(--primary-color);
}

.rounded-icon-name {
  @apply rounded-full text-white;
  background-color: var(--primary-color);
}

.button:hover,
.primary-button:hover,
.rounded-button:hover {
  color: var(--background-color);
  background-color: var(--text-color);
}

.primary-button:hover .loader {
  color: var(--background-color);
}

/* Spinner */

.dot-spin {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: transparent;
  box-shadow: 0 -18px 0 0 var(--primary-color),
    12.727926px -12.727926px 0 0 var(--primary-color),
    18px 0 0 0 var(--primary-color),
    12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0),
    0 18px 0 0 rgba(152, 128, 255, 0),
    -12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0),
    -18px 0 0 0 rgba(152, 128, 255, 0),
    -12.727926px -12.727926px 0 0 rgba(152, 128, 255, 0);
  animation: dot-spin 1.5s infinite linear;
}

@keyframes dot-spin {
  0%,
  100% {
    box-shadow: 0 -18px 0 0 var(--primary-color),
      12.727926px -12.727926px 0 0 var(--primary-color),
      18px 0 0 0 var(--primary-color),
      12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  12.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 0 var(--primary-color),
      18px 0 0 0 var(--primary-color),
      12.727926px 12.727926px 0 0 var(--primary-color),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  25% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 0 var(--primary-color),
      12.727926px 12.727926px 0 0 var(--primary-color),
      0 18px 0 0 var(--primary-color),
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.727926px 12.727926px 0 0 var(--primary-color),
      0 18px 0 0 var(--primary-color),
      -12.727926px 12.727926px 0 0 var(--primary-color),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  50% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 0 var(--primary-color),
      -12.727926px 12.727926px 0 0 var(--primary-color),
      -18px 0 0 0 var(--primary-color),
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.727926px 12.727926px 0 0 var(--primary-color),
      -18px 0 0 0 var(--primary-color),
      -12.727926px -12.727926px 0 0 var(--primary-color);
  }
  75% {
    box-shadow: 0 -18px 0 0 var(--primary-color),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 0 var(--primary-color),
      -12.727926px -12.727926px 0 0 var(--primary-color);
  }
  87.5% {
    box-shadow: 0 -18px 0 0 var(--primary-color),
      12.727926px -12.727926px 0 0 var(--primary-color),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 0 var(--primary-color);
  }
}

/* Spinner 2 */

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #fff;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
